footer {
  display: flex;
  padding-block: 24px;
  gap: 24px;
  font: 14px/150% var(--font-family);
}


footer span:nth-child(1) {
  margin-right: auto;
}

footer .links {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 16px;     
    padding-block: 16px;  
  }

  footer span:nth-child(1) {
    margin-right: 0;
  }

  footer .links {
    flex-direction: row;
    gap: 12px;
  }
}