header {
  padding-block: 32px;
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  gap: 32px;
}

#profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%;
}

#profile > div {
  max-width: 384px;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {

  header {
    & p {
      font-size: 1rem;
    }
  }
 
  #primary-menu li:nth-child(2), #primary-menu li:nth-child(3) { 
   display: none;
  }

  #profile {
    & h1 {
      font-size: 1.5rem;
    }
  flex-direction: column;
  }
  
  #info {
    flex-direction: column;
  }
  
  header .container {
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }
}
