header {
  padding-block: 32px;
}

#profile {
  display: flex;
  gap: 32px;
}

#profile > div {
  max-width: 384px;
}

#profile p {
font: var(--text-md);
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}